[submodule "src/thirdparty/cereal"]
	path = src/thirdparty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "src/thirdparty/openvr"]
	path = src/thirdparty/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "src/thirdparty/magic_enum"]
	path = src/thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
